{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-0 col-sm-offset-0 col-md-0 col-md-offset-0 main">
    <h5>Notifications</h5>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="media-body">
          <ul id="ajax-notification">
            {% for notification in notification_list %}
              <li id="each-notifoication" {% if notification.viewed == False %} class="not-viewed-notifications"{% endif %}>
                <div id="notification-text">
                  <a href="{{ notification.link }}&notification_id={{ notification.notification_id }}">
                    {{ notification.notification_txt }}
                  </a>
                </div>
                <div id="notification-timestamp" class="pull-right">
                  {{ notification.timestamp }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
