{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

  {% if user.is_authenticated %}

    <meta http-equiv="REFRESH" content="0;url={% url 'core_index' %}">

  {% else %}

    {#  TODO :- Need to refactor and write the js in a better way with no alerts. #}
    <script>
      function myFunction() {
          var pass, pass2; 
          pass = document.getElementById("{{ reset_password_form.password.auto_id }}").value;
          pass2 = document.getElementById("{{ reset_password_form.password_repeat.auto_id }}").value;
          if (pass != pass2){
              alert("Your passwords do not match !!!! Please enter correctly"); 
          }
      }
    </script>
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" style=" margin-top:30%">
              <div class="panel-body">
                <div class="text-center">
                  <h3 class="text-center">Reset Password</h3>
                  <p></p>
                  <div class="panel-body">
                    <form method= "post" action= ".">
                      <fieldset>
                        {% csrf_token %}
                        <div class="form-group">
                          {{ form.new_password1.errors }}
                          <div class="input-group">
                            <span class="input-group-addon">New Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {{ form.new_password1 }}
                          </div>
                        </div>
                        <br/>
                        <div class="form-group">
                          {{ form.new_password2.errors }}
                          <div class="input-group">
                            <span class="input-group-addon">Confirm Password</span>
                            {{ form.new_password2 }}
                          </div>
                        </div>
                        <div class="form-group">
                          <input class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endif %}

{% endblock content %}
