{% extends "base.html" %}

{% load static %}

{% block content %}

 <div class="container" style="margin: 10px;">
    <div class="well well-sm" style="width: 45%;">
        <div class="row">
        <div class="panel panel-primary" style="padding-left: 5px; padding-right: 5px; border:none;">
            <div class="panel-heading">
                <h4>Password Change </h4>
            </div>
        </div>
    </div><br />
        <form class="form-signup" action="" method="POST" role="form">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4">
                    Old Password:
                    </label>
                    <div class="col-md-6">
                      {{ form.old_password }}
                      {{ form.old_password.errors }}
                    </div>
                </div>
            </div><br />

            <div class="form-group">
                <div class="row">
                    <label class="col-md-4">
                    New Password:
                    </label>
                    <div class="col-md-6">
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>
                </div>
            </div><br />

            <div class="form-group">
                <div class="row">
                    <label class="col-md-4">
                    Password Again:
                    </label>
                    <div class="col-md-6">
                   	   {{ form.new_password2 }}
                       {{ form.new_password2.errors }}
                    </div>
                </div>
            </div><br />

            <div class="form-group">
                <div class="row">
                    <label class="col-md-4">
                    </label>
                    <div class="col-md-6">
                       <button type="submit" class="btn btn-primary">
                        Change My Password</button>
                    </div>
                </div>
            </div><br />
        </form>
    </div>
</div>

{% endblock content %}
