.panel,
.flip {
    padding: 5px;
    text-align: left;
    background-color: #FFFFFF;
    border: solid 1px #c3c3c3;
}

.panel {
    padding: 10px;
    display: none;
}

.comment .date {
    font-size: 10px;
    padding: 6px 0;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #bbb;
}

.comment p,
#addCommentContainer p {
    font-size: 18px;
    line-height: 1.5;
}

#addCommentContainer input[type=text],
#addCommentContainer textarea {
    /* Styling the inputs */
    display: block;
    border: 1px solid #ccc;
    margin: 5px 0 5px;
    padding: 3px;
    font-size: 12px;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

#addCommentContainer textarea {
    width: 445px;
}

#submit {
    /* The submit button */
    background-color: #58B9EB;
    border: 1px solid #40A2D4;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    margin-top: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#submit:hover {
    background-color: #80cdf5;
    border-color: #52b1e2;
}
.detailBox {
    width: 450px;
    border: 1px solid #bbb;
    margin: 0px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
}

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child,
.actionBox .form-group:first-child {
    width: 80%;
}

.commentBox .form-group:nth-child(2),
.actionBox .form-group:nth-child(2) {
    width: 18%;
}

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px 0;
}

.commentList {
    padding: 0;
    list-style: none;
    height: 420px;
    overflow: auto;
}

.commentListUser {
    padding: 0;
    margin-left: 40px;
    list-style: none;
    height: 420px;
    overflow: auto;
    float: right;
}

.commentList>li {
    margin: 10px 3px 0px 0px;
}

.commentList li > div {
    display: table-cell;
}

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commenterImage img {
    width: 100%;
    border-radius: 50%;
}

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
    height: 532px;
}

.commentLeft {
    float: left;
    min-width: 403px;
    border-bottom: 1px solid antiquewhite;
    padding-bottom: 7px;
    padding-top: 16px;
}

.commentLeft > span {
    float: left;
    width: 403px;
    text-align: left;
    margin-top: -12px;
}
.commentLeft > b {
    float: left;
    width: 403px;
    text-align: left;
    margin-top: -12px;
}

.commentRight {
    float: right;
    min-width: 403px;
    border-bottom: 1px solid antiquewhite;
    padding-bottom: 7px;
    padding-top: 16px;
}

.commentRight>p {
    float: right;
}

.commentRight > span {
    float: right;
    width: 403px;
    text-align: right;
    margin-top: -12px;
}
.commentRight > b {
    float: right;
    width: 403px;
    text-align: right;
    margin-top: -12px;
}
.alert {
    padding: 3px;
}

.success {
    padding: 3px;
}
